EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=

# API and Services

# --- PRODUCCIÓN ---
# EXPO_PUBLIC_API_URL=
# EXPO_PUBLIC_SOCKET_URL=
# EXPO_PUBLIC_REPORTS_URL=
# EXPO_PUBLIC_DIVIDENDOS_URL=

# --- PRUEBAS / DESARROLLO ---
EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_SOCKET_URL=
EXPO_PUBLIC_REPORTS_URL=
EXPO_PUBLIC_DIVIDENDOS_URL=